<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1rem;
            line-height: 22px;
        }
    </style>
</head>
<body>
    <main>
        <div style="width:600px;margin:0 auto;padding: 16px;">
            <br>
            <br>
            <h1 style="text-align: center;">Sparkle Crew</h1>
            <br>
            <hr>
            <br>
            <div style="font-size: 32px;">Inquery</div>
            <br>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo nobis numquam cumque explicabo sit voluptates maiores eius. Voluptatum in, maiores magni, ex at id veniam eum, amet eius repellendus doloremque.
            </div>
            <br>
            <div>Name: Jane</div>
            <div>Email: Jane</div>
            <div>Tel: Jane</div>
            </div>
    </main>
</body>
</html>