@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --body-padding-sm: 72px;
  --body-padding-lg: 0px;
  --lg-breakpoint: 1024px;
}


.container {
  margin: 0 auto;
  max-width: 1140px;
  width: 90%;
}

body {
  @apply text-black;
  padding-top: var(--body-padding-sm);
  @apply font-medium;
}

@media (width >= 1024px) {
  body {
    padding-top: var(--body-padding-lg);
  }
}

.radio-selector:has(input:checked){
  @apply bg-primary;
  @apply text-white;
  @apply border-primary;
  
}

